export COMET_API_KEY="5VepnNJuZoCtjbETof69o9NI4"
export COMET_WORKSPACE="zhekahauska"
export COMET_PROJECT_NAME="gradmem-mamba"
export CUDA_VISIBLE_DEVICES=1
export HTTPS_PROXY=""
export HTTP_PROXY=""